<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Incidencia</title>
</head>
<body>
    <h1>Detalle de Incidencia #{{ object.id }}</h1> <!-- Utiliza 'object' para el modelo -->
    <p><strong>Emisor:</strong> {{ object.emisor }}</p>
    <p><strong>Aula:</strong> {{ object.salon.salon }}</p>
    <p><strong>Categoría:</strong> {{ object.tipo_incidencia.tipo }}</p>
    <p><strong>Descripción:</strong> {{ object.descripcion_estado.descripcion }}</p>
    <p><strong>Dispositivo Afectado:</strong> {{ object.dispositivo_afectado.dispositivo }}</p>
    <p><strong>Comentarios:</strong> {{ object.comentarios }}</p>
    <p><strong>Estado:</strong> {{ object.estado_incidencia }}</p>
    <p><strong>Fecha:</strong> {{ object.fecha }}</p>
</body>
</html>

