{% extends "soporte_barra_lateral.html" %}

{% block title %}Preguntas frecuentes{% endblock title %}

{% block content %}
<div class="container mx-auto mt-5">
    <h2 class="text-2xl font-bold mb-6 text-black">PREGUNTAS FRECUENTES</h2>
    <div class="bg-white shadow-md rounded-lg p-6">
        <div class="mb-4">
            <h3 class="font-semibold text-lg text-green-700">1. ¿Qué es el sistema de incidencias?</h3>
            <p class="text-gray-700">El sistema de incidencias es una herramienta diseñada para permitir que estudiantes y personal de la Facultad de Ingeniería de Sistemas e Informática reporten problemas o incidencias relacionadas con las instalaciones y servicios disponibles.</p>
        </div>
        <div class="mb-4">
            <h3 class="font-semibold text-lg text-green-700">2. ¿Cómo puedo registrar una incidencia?</h3>
            <p class="text-gray-700">Para registrar una incidencia, accede al formulario de reportes en la plataforma, completa los detalles requeridos y envíalo para su revisión.</p>
        </div>
        <div class="mb-4">
            <h3 class="font-semibold text-lg text-green-700">3. ¿Qué tipo de incidencias puedo reportar?</h3>
            <p class="text-gray-700">Puedes reportar incidencias relacionadas con el equipo, software, infraestructura y otros problemas que afecten el funcionamiento de la facultad.</p>
        </div>
        <div class="mb-4">
            <h3 class="font-semibold text-lg text-green-700">4. ¿Cuánto tiempo tardará en resolverse mi incidencia?</h3>
            <p class="text-gray-700">El tiempo de resolución puede variar según la gravedad de la incidencia y la carga de trabajo del equipo de soporte, pero nos esforzamos por atenderlas lo más pronto posible.</p>
        </div>
        <div class="mb-4">
            <h3 class="font-semibold text-lg text-green-700">5. ¿Recibiré notificaciones sobre el estado de mi incidencia?</h3>
            <p class="text-gray-700">Sí, recibirás actualizaciones sobre el progreso y estado de tu incidencia a medida que avanza en el proceso de resolución.</p>
        </div>
        <div class="mb-4">
            <h3 class="font-semibold text-lg text-green-700">6. ¿Puedo ver el historial de mis incidencias anteriores?</h3>
            <p class="text-gray-700">Sí, puedes acceder a tu historial de incidencias en la sección correspondiente de la plataforma para revisar el estado de tus reportes previos.</p>
        </div>
        <div class="mb-4">
            <h3 class="font-semibold text-lg text-green-700">7. ¿Qué debo hacer si no estoy satisfecho con la resolución de mi incidencia?</h3>
            <p class="text-gray-700">Si no estás satisfecho con la resolución de tu incidencia, puedes solicitar una revisión adicional o plantear tus inquietudes en la misma plataforma para que el equipo de soporte las considere.</p>
        </div>
    </div>
</div>

{% endblock content %}
