{% extends "soporte_barra_lateral.html" %}

{% block title %}Incidencias{% endblock title %}

{% block content %}
    <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-6">
        <div class="bg-[#1198d2] text-white rounded-lg shadow p-4 text-center">
            <p class="text-sm">Cantidad de incidencias reportadas</p>
            <h2 class="text-3xl font-bold">{{ total_incidencias }}</h2>
        </div>
        <div class="bg-[#15bf40] text-white rounded-lg shadow p-4 text-center">
            <p class="text-sm">Incidencias atendidas</p>
            <h2 class="text-3xl font-bold">{{ incidencias_atendidas }}</h2>
        </div>
        <div class="bg-[#ffc105] text-white rounded-lg shadow p-4 text-center">
            <p class="text-sm">Incidencias en atención</p>
            <h2 class="text-3xl font-bold">{{ incidencias_en_atencion }}</h2>
        </div>
        <div class="bg-[#ff3c3c] text-white rounded-lg shadow p-4 text-center">
            <p class="text-sm">Incidencias por atender</p>
            <h2 class="text-3xl font-bold">{{ incidencias_pendientes }}</h2>
        </div>
    </div>

    {% for incidencia in incidencias %}
        <div class="bg-white rounded-lg shadow p-4 mb-6">
            <p class="font-bold mb-2">Incidencia [{{ incidencia.fecha|date:"H:i:s" }}]</p>
            <p><span class="font-semibold">Aula:</span> {{ incidencia.salon }}</p>
            <p><span class="font-semibold">Categoría:</span> {{ incidencia.tipo_incidencia }}</p>
            <p><span class="font-semibold">Descripción:</span> {{ incidencia.descripcion_estado }}</p>

            <div class="mt-4 flex space-x-2">
                <form method="POST" action="{% url 'soporte:incidencias' %}">
                    {% csrf_token %}
                    <input type="hidden" name="incidencia_id" value="{{ incidencia.id }}">
                    <input type="hidden" name="accion" value="atender">
                    <button type="submit" class="bg-[#15bf40] text-white font-bold py-2 px-4 rounded hover:bg-[#0e9b35] transition duration-200">Atender</button>
                </form>
                <form method="POST" action="{% url 'soporte:incidencias' %}">
                    {% csrf_token %}
                    <input type="hidden" name="incidencia_id" value="{{ incidencia.id }}">
                    <input type="hidden" name="accion" value="archivar">
                    <button type="submit" class="bg-[#ff3c3c] text-white font-bold py-2 px-4 rounded hover:bg-red-600 transition duration-200">Archivar</button>
                </form>
            </div>
        </div>
    {% endfor %}
{% endblock content %}

