{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>

    {% tailwind_css %}
</head>
<body class="flex bg-gray-100 min-h-screen">
    <aside class="w-72 bg-[#1e3984] shadow-md fixed h-full flex flex-col justify-between">
        <header class="p-4 flex flex-col items-center justify-center bg-[#1e3984] mb-4"> 
            <img src="{% static 'logo_fisi.png' %}" alt="Logo FISI" class="h-24 mb-2">
            <span class="text-[#ffc105] font-semibold text-lg text-center">SOPORTE TÉCNICO FISI</span>
        </header>
        <nav class="flex-grow mt-4 overflow-y-auto">
            <ul class="space-y-0 text-center">
                <li>
                    <a href="{% url 'soporte:incidencias' %}" class="block px-6 py-5 text-white hover:bg-[#1198d2] {% if request.path == '/soporte/incidencias/' %}bg-[#1198d2]{% endif %} transition">INCIDENCIAS</a>
                </li>
                <li>
                    <a href="{% url 'soporte:listar_incidencias' %}" class="block px-6 py-5 text-white hover:bg-[#1198d2] {% if request.path == '/soporte/listar-incidencias/' %}bg-[#1198d2]{% endif %} transition">HISTORIAL INCIDENCIAS</a>
                </li>
                <li>
                    <a href="{% url 'soporte:preguntas' %}" class="block px-6 py-5 text-white hover:bg-[#1198d2] {% if request.path == '/soporte/preguntas/' %}bg-[#1198d2]{% endif %} transition">PREGUNTAS FRECUENTES</a>
                </li>
            </ul>
        </nav>
        <div class="p-4">
            <form method="post" action="{% url 'soporte:login' %}">
                {% csrf_token %}
                <input type="hidden" name="logout" value="true"> <!-- Añadido para indicar el cierre de sesión -->
                <button type="submit" class="block w-full text-white bg-[#1e3984] hover:bg-[#ff3c3c] transition text-center mt-4 rounded-full px-6 py-4 hover:shadow-xl">
                    SALIR
                </button>
            </form>

            <footer class="mt-6 text-center text-sm text-gray-300">
                <p>© 2024 No Compila</p>
            </footer>
        </div>
    </aside>

    <main class="flex-1 p-6 ml-72"> <!-- Agregamos margen izquierdo para el contenido -->
        {% block content %}{% endblock content %}
    </main>
</body>
</html>
