{% extends "soporte_barra_lateral.html" %}

{% block title %}Historial de Incidencias{% endblock title %}

{% block content %}
    <div class="container mx-auto mt-5">
        <h2 class="text-2xl font-bold mb-4">Todas las Incidencias</h2>
        
        <!-- Div que contiene la cantidad de incidencias -->
        <div class="grid grid-cols-1 md:grid-cols-4 gap-4 mb-6">
            <div class="bg-[#1198d2] text-white rounded-lg shadow p-4 text-center">
                <p class="text-sm">Cantidad de incidencias reportadas</p>
                <h2 class="text-3xl font-bold">{{ total_incidencias }}</h2>
            </div>

            <div class="bg-[#15bf40] text-white rounded-lg shadow p-4 text-center">
                <p class="text-sm">Incidencias atendidas</p>
                <h2 class="text-3xl font-bold">{{ incidencias_atendidas }}</h2>
            </div>

            <div class="bg-[#ffc105] text-white rounded-lg shadow p-4 text-center">
                <p class="text-sm">Incidencias en atención</p>
                <h2 class="text-3xl font-bold">{{ incidencias_en_atencion }}</h2>
            </div>

            <div class="bg-[#ff3c3c] text-white rounded-lg shadow p-4 text-center">
                <p class="text-sm">Incidencias por atender</p>
                <h2 class="text-3xl font-bold">{{ incidencias_pendientes }}</h2>
            </div>
        </div>

        <div class="flex flex-col space-y-4">
            {% for incidencia in incidencias %}
            <div class="bg-white shadow-md rounded-lg p-4 w-full flex">
                <div class="flex-1">
                    <h3 class="text-lg font-semibold mb-2 text-gray-800">Incidencia [{{ incidencia.fecha }}]</h3>
                    <p class="text-gray-600"><strong>Usuario Emisor:</strong> {{ incidencia.emisor }}</p>
                    <p class="text-gray-600"><strong>Tipo de Incidencia:</strong> {{ incidencia.tipo_incidencia }}</p>
                    <p class="text-gray-600"><strong>Dispositivo Afectado:</strong> {{ incidencia.dispositivo_afectado }}</p>
                    <p class="text-gray-600"><strong>Salón:</strong> {{ incidencia.salon }}</p>
                    <p class="text-gray-600"><strong>Descripción:</strong> {{ incidencia.descripcion_estado }}</p>
                </div>  
                <div class="flex flex-col items-center justify-between ml-4">
                    <span class="bg-red-500 text-white rounded-full px-4 py-2 mb-2 text-lg">
                        {{ incidencia.estado_incidencia }}
                    </span>
                    <a href="javascript:void(0);" onclick="mostrarDetalles({{ forloop.counter0 }})" class="font-bold text-red-500 hover:text-red-600 transition duration-300">Ver Detalles</a>
                </div>
            </div>
            {% empty %}
            <p class="text-gray-600">No hay incidencias registradas.</p>
            {% endfor %}
        </div>
    </div>

    <!-- Modal -->
    <div id="detallesModal" class="fixed inset-0 flex items-center justify-center hidden bg-gray-800 bg-opacity-50">
        <div class="bg-white rounded-lg p-6 w-3/4 h-3/4 max-w-2xl flex flex-col justify-between">
            <h3 class="text-xl font-bold mb-6 text-center p-4">Detalles de la Incidencia</h3>
            <div id="detallesContenido" class="space-y-2 overflow-auto flex-grow"></div>
            <div class="flex justify-center mb-6">
                <button onclick="cerrarModal()" class="bg-red-500 text-white px-6 py-3 rounded hover:bg-red-600 transition duration-300">Cerrar</button>
            </div>
        </div>
    </div>

    <script>
        // Usamos un arreglo para almacenar los datos de incidencias de manera local
        const incidencias = [
            {% for incidencia in incidencias %}
            {
                fecha_registro: "{{ incidencia.fecha }}",
                emisor: "{{ incidencia.emisor }}",
                tipo_incidencia: "{{ incidencia.tipo_incidencia }}",
                dispositivo_afectado: "{{ incidencia.dispositivo_afectado }}",
                salon: "{{ incidencia.salon }}",
                descripcion_estado: "{{ incidencia.descripcion_estado }}",
                comentarios: "{{ incidencia.comentarios|default:'No hay comentarios.' }}",
                estado_incidencia: "{{ incidencia.estado_incidencia }}"
            }{% if not forloop.last %},{% endif %}
            {% endfor %}
        ];
        
        console.log("Incidencias:", incidencias);

        function mostrarDetalles(index) {
            try {
                const incidencia = incidencias[index];
                console.log("Detalles de la incidencia:", incidencia);

                const modal = document.getElementById('detallesModal');
                const detallesContenido = document.getElementById('detallesContenido');

                detallesContenido.innerHTML = `
                    <p><strong>Fecha:</strong> ${incidencia.fecha_registro}</p>
                    <p><strong>Usuario Emisor:</strong> ${incidencia.emisor}</p>
                    <p><strong>Tipo de Incidencia:</strong> ${incidencia.tipo_incidencia}</p>
                    <p><strong>Dispositivo Afectado:</strong> ${incidencia.dispositivo_afectado}</p>
                    <p><strong>Salón:</strong> ${incidencia.salon}</p>
                    <p><strong>Descripción:</strong> ${incidencia.descripcion_estado}</p>
                    <p><strong>Comentarios:</strong> ${incidencia.comentarios}</p>
                    <p><strong>Estado:</strong> ${incidencia.estado_incidencia}</p>
                `;

                // Mostrar el modal
                modal.classList.remove('hidden');
            } catch (error) {
                alert("Error al mostrar detalles de la incidencia: " + error.message);
                console.error("Error al mostrar detalles de la incidencia:", error);
            }
        }

        function cerrarModal() {
            const modal = document.getElementById('detallesModal');
            modal.classList.add('hidden');
        }
    </script>
{% endblock content %}
