{% extends "barra_lateral.html" %}

{% block title %}Incidencias{% endblock title %}

{% block content %}

    <h2>INCIDENCIAS [2024-09-30]</h2>
    
    <div>
        <p>Cantidad de incidencias reportadas</p>
        <h2>19</h2>
    </div>

    <div>
        <p>Incidencias atendidas</p>
        <h2>16</h2>
    </div>

    <div>
        <p>Incidencias en atencion</p>
        <h2>3</h2>
    </div>

    <div>
        <p>Incidencias por atender</p>
        <h2>3</h2>
    </div>

    <div>
        <button>PDF</button>
        <p>Incidencia [12:30:20]</p>
        <p>Aula</p>
        <p>Categoria</p>
        <p>Descripcion</p>

        <button>Atender</button>
        <button>Archivar</button>
    </div>

{% endblock content %}