{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>

    {% tailwind_css %}

</head>
<body>
    <header>
        <h2>SOPORTE TÉCNICO FISI</h2>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'usuario:reportar' %}">REPORTAR INCIDENCIA</a></li>
            <li><a href="{% url 'usuario:historial' %}">HISTORIAL INCIDENCIAS</a></li>
            <li><a href="{% url 'usuario:preguntas' %}">PREGUNTAS FRECUENTES</a></li>
            <li><a href="{% url 'usuario:login' %}">SALIR</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock content %}
    </main>

    <footer>
        <p>© 2024 No Compila</p>
    </footer>

</body>
</html>
