{% extends "usuario_barra_lateral.html" %}

{% block title %}Reportar Incidencia{% endblock title %}

{% block content %}
    <div class="max-w-4xl mx-auto p-8 bg-white shadow-md rounded-lg mt-4">
        <h2 class="text-2xl font-bold mb-4">REPORTAR INCIDENCIAS</h2>

        {% if messages %}
            <div class="mb-4">
                {% for message in messages %}
                    <div class="bg-green-100 text-green-700 p-4 rounded">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" class="space-y-6">
            {% csrf_token %}
            
            {% if form.errors %}
                <div class="bg-red-100 text-red-600 p-4 rounded">
                    <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ field.label }}: {{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                <div>
                    <label class="block text-sm font-medium text-gray-700" for="{{ form.emisor.id_for_label }}">
                        {{ form.emisor.label }}
                    </label>
                    {{ form.emisor }}
                </div>

                <div class="relative">
                    <label class="block text-sm font-medium text-gray-700" for="{{ form.tipo_incidencia.id_for_label }}">
                        {{ form.tipo_incidencia.label }}
                    </label>
                    {{ form.tipo_incidencia }}
                    <button type="button" class="absolute right-2 top-1/2 transform -translate-y-1/2 bg-yellow-500 text-white py-2 px-4 font-semibold rounded-md shadow hover:bg-yellow-600" onclick="toggleModal()">
                        Ayuda
                    </button>
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700" for="{{ form.dispositivo_afectado.id_for_label }}">
                        {{ form.dispositivo_afectado.label }}
                    </label>
                    {{ form.dispositivo_afectado }}
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700" for="{{ form.descripcion_estado.id_for_label }}">
                        {{ form.descripcion_estado.label }}
                    </label>
                    {{ form.descripcion_estado }}
                </div>

                <div>
                    <label class="block text-sm font-medium text-gray-700" for="{{ form.salon.id_for_label }}">
                        {{ form.salon.label }}
                    </label>
                    {{ form.salon }}
                </div>
            </div>

            <div>
                <label class="block text-sm font-medium text-gray-700" for="{{ form.comentarios.id_for_label }}">
                    {{ form.comentarios.label }}
                </label>
                {{ form.comentarios }}
            </div>

            <div class="flex justify-end space-x-4">
                <button type="submit" class="py-2 px-4 bg-green-600 text-white font-semibold rounded-md shadow hover:bg-green-700">
                    Enviar
                </button>
                <button type="reset" class="py-2 px-4 bg-red-600 text-white font-semibold rounded-md shadow hover:bg-red-700">
                    Cancelar
                </button>
            </div>
        </form>
    </div>

    <!-- Modal -->
    <div id="helpModal" class="fixed inset-0 bg-black bg-opacity-50 hidden justify-center items-center">
        <div class="bg-white rounded-lg p-6 max-w-lg mx-auto transform translate-y-1/2">
            <h3 class="text-lg font-bold mb-4">Detalles de Tipos de Incidencias</h3>
            <ul class="list-disc pl-5">
                    <li><strong>Hardware:</strong> Problemas relacionados con dispositivos físicos, como computadoras, impresoras, etc.</li>
                    <li><strong>Software:</strong> Problemas con aplicaciones, sistemas operativos y programas.</li>
                    <li><strong>Limpieza:</strong> Incidencias que involucran la limpieza y mantenimiento de las instalaciones.</li>
                    <li><strong>Red:</strong> Problemas relacionados con la conectividad de red, como caídas de red o problemas de acceso a internet.</li>
                    <li><strong>Seguridad:</strong> Incidencias relacionadas con la seguridad de los sistemas, como ataques cibernéticos o vulnerabilidades.</li>
                    <li><strong>Solicitud:</strong> Requerimientos de servicio o asistencia técnica que no necesariamente son problemas.</li>

                <!-- Agrega más tipos según sea necesario -->
            </ul>
            <button class="mt-4 px-4 py-2 bg-red-600 text-white font-semibold rounded-md shadow hover:bg-red-700" onclick="toggleModal()">Cerrar</button>
        </div>
    </div>

    <script>
        function toggleModal() {
            const modal = document.getElementById('helpModal');
            modal.classList.toggle('hidden');
        }
    </script>
{% endblock content %}
