{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}{% endblock title %}
    </title>

    {% tailwind_css %}
</head>
<body class="flex bg-gray-100 min-h-screen">
    <aside class="w-72 bg-[#1e3984] shadow-md h-screen flex flex-col justify-between">
        <div>
            <header class="p-4 flex flex-col items-center justify-center bg-[#1e3984] mb-4">
                <img src="{% static 'logo_fisi.png' %}" alt="Logo FISI" class="h-24 mb-2">
                <span class="text-[#ffc105] font-semibold text-lg text-center">SOPORTE TÉCNICO FISI</span>
            </header>
            <nav class="flex-1 mt-4">
                <ul class="space-y-0 text-center">
                    <li>
                        <a href="{% url 'usuario:reportar' %}" class="block px-6 py-5 text-white hover:bg-[#1198d2] {% if request.path == '/usuario/reportar/' %}bg-[#1198d2]{% endif %} transition">REPORTAR INCIDENCIA</a>
                    </li>
                    <li>
                        <a href="{% url 'usuario:historial' %}" class="block px-6 py-5 text-white hover:bg-[#1198d2] {% if request.path == '/usuario/historial/' %}bg-[#1198d2]{% endif %} transition">HISTORIAL INCIDENCIAS</a>
                    </li>
                    <li>
                        <a href="{% url 'usuario:preguntas' %}" class="block px-6 py-5 text-white hover:bg-[#1198d2] {% if request.path == '/usuario/preguntas/' %}bg-[#1198d2]{% endif %} transition">PREGUNTAS FRECUENTES</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="p-4">
            <a href="{% url 'usuario:login' %}" class="block text-white bg-[#1e3984] hover:bg-[#ff3c3c] transition text-center mt-4 rounded-full px-6 py-4 hover:shadow-xl">SALIR</a>
            <footer class="mt-6 text-center text-sm text-gray-300">
                <p>© 2024 No Compila</p>
            </footer>
        </div>
    </aside>

    <main class="flex-1 p-6">
        {% block content %}{% endblock content %}
    </main>
</body>
</html>
